body {
    font-family: sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_1xwRzMbHKOyDyiy5Taxu4QnA2mjGEHv5lg&s');
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 400px;
    margin: 150px auto;
    background-color: lightblue;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 25px;
    color: black
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: black;
  }
  
  input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  input[type="tel"]:focus {
    outline: none;
    border-color: white;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
    color: black;
  }
  
  .login-link a {
    color: black;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  